/* #search{
    background-color: #4C8787;
    color: white;
    border: none;
    padding:0.8rem 1.7rem;
}
.SearchContainer{
    display: flex;
    justify-content: center;
}
.searchBar{
    
} */
.SearchContainer {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
   #search {
    cursor: pointer;
    margin-left: 15px;
    padding: 12px 25px;
    background-color: #4C8787;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'roboto';
    letter-spacing: 1.2px;
    border: none;
  }
  
  .searchBar {
    display: flex;
    align-items: center;
    margin: 25px 0;
    padding: 0 15px;
    width: 25%;
    height: 40px;
    border: 2px solid black;
    border-radius: 50px;
  }
  
  .textField {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .textField input {
    width: 90%;
    font-size: 1.2rem;
    padding: 5px;
    border: none;
    background-color: transparent;
  }
  
  .textField input:focus {
    outline: none;
  }
  